input {
    width: 100%;
}

.login {
    width: 100%;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

label {
    display: block;
}

.login div{
    width: 100%;
    }
    .login div:nth-child(2){
    margin-top: 1rem;
    }
    .login div:nth-child(3){
        margin-top: 1rem;
    }
    .login div:nth-child(4){
        margin-top: 1rem;
    }