<<<<<<< Updated upstream
input {
    width: 100%;
=======
/* input {
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 15px 
>>>>>>> Stashed changes
}

.text-align-center {
    text-align: center;
} */

/*
    .text-align-center label {
        text-align: left;
    } */

/* .login {
    width: 100%;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
<<<<<<< Updated upstream
}

=======
    color: white; */
    /* border: 5px solid rgb(24, 24, 24); */
    /* }
    .login label{
        text-align: left;
        font-size: 25px;
    } */

/* .laman {
    background-color: blue;
    border-radius: 45px;
    height: fit-content;
    width: 20%;
    justify-content: center;
    display: flex;
    }
    .laman div{
        margin-top: 1rem;
        width: 100%;
    }

>>>>>>> Stashed changes
label {
    display: block;
} */

/* .login div {
    width: 100%;
} */


/* .login div:nth-child(1) {
    margin-top: 2rem;
}

.login div:nth-child(2) {
    margin-top: 2rem;
}

.login div:nth-child(3) {
    margin: 2rem 0;
}

.login div:nth-child(4) {
    margin-top: 1rem;
} */