.create-post-button{
   justify-content: center;
   display: flex;
   padding-top: 5%;
}
input[type="text"] {
    color: rgb(255, 255, 255); 
    width: 25%;
    background-color:#404040;
    border-radius: 10px; 
    text-align: center; 
}
