/* You can add global styles to this file, and also import other style files */
.font{
    font-family: 'TricksterRegular';
    font-weight: normal;
    font-style: normal;
}
.fontsto {
    font-family: 'BrassiaRegular';
    font-weight: normal;
    font-style: normal;
    font-size:xx-large;
}
.form{
    margin-left: 30px;
}